* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity o.5s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

#rock {
    background-color: #f44336;
    color: white;
}

#paper {
    background-color: #2196f3;
    color: white;
}  

#scissors {
    background-color: #4caf50;
    color: white;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span{
    color: rgb(77, 128, 216); 
}

.alexa-score span{
    color: rgb(224, 71, 15);
}